html, body {
    margin: 0;
    padding: 0;
}

/*
#longStrip {
    height: 100vh;
    overflow: hidden;
}
#longStrip > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    margin-top: -12vh;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
*/

#landing {
    position: relative;
    width: 100%;
}

#landingBackground {
    position: relative;
    background-color: #101010;
    overflow: hidden;
}

.landingFixedImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

#landingDecals {
    background-image: url('../images/decals.png');
}
#landingSticker {
    background-image: url('../images/sticker.png');
}
#landingText {
    background-image: url('../images/text.png');
}
