@font-face {
    font-family: HelveticaMedium;
    src: url("../fonts/HelveticaNeueLTCom-Md.ttf") format("opentype");
}
@font-face {
    font-family: HelveticaBold;
    src: url("../fonts/HelveticaNeueLTCom-Bd.ttf") format("opentype");
}
@font-face {
    font-family: HelveticaHeavy;
    src: url("../fonts/HelveticaNeueLTCom-Hv.ttf") format("opentype");
}
@font-face {
    font-family: HelveticaLight;
    src: url("../fonts/HelveticaNeueLTCom-Lt.ttf") format("opentype");
}

@font-face {
    font-family: SegoeUiEmoji;
    src: url("../fonts/SegoeUI_Emoji.ttf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
}

#canvas {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
}

#dummyBackground {
    position: relative;
    width: 100%;
}

#testing {
    position: absolute;
    left: 50px;
    top: 400px;
    font-size: 14px;
    line-height: 14px;
}
#testing2 {
    position: absolute;
    left: 400px;
    top: 400px;
    font-size: 14px;
    line-height: 14px;
}
#testing2 {
    position: absolute;
    left: 400px;
    top: 400px;
    font-size: 14px;
    line-height: 14px;
}
#testing3 {
    position: absolute;
    left: 400px;
    top: 150vh;
    font-size: 14px;
    line-height: 14px;
}

.wasmText::before {
    display: inline-block;
    height: 100%;
    content: '';
}
