[Unit]
Description=yorstory
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/usr/bin/yorstory
ExecStart=/usr/bin/yorstory/yorstory static.bigdata data/dynamic.bigdata data/portfolio.json 8000

[Install]
WantedBy=multi-user.target